.pagination {
  margin-top: 2rem;

  &__list {
    display: flex;
    justify-content: flex-end;
  }

  &__item {
    color: $color-white;
    background-color: $color-grey-3;
    margin: 0 5px;

    &:nth-child(2) {
      background-color: $color-grey;
      padding: 5px 10px;
    }

    &:hover {
      background-color: $color-grey;
      color: $color-blue;
    }
  }

  &__btn {
    padding: 5px 10px;
  }
}
