.tabs {
  z-index: 1;

  &__control {
    margin: 15px 0;
  }

  &__link {
    color: $color-white;
    padding: 5px 10px;
    margin-right: 20px;
    font-size: 2rem;
    font-weight: 500;
  }

  &__text {
    color: $color-white;
  }

  .active {
    color: $color-blue-1;

    &::before {
      content: '';
      display: block;
      position: absolute;
      color: $color-white;
    }
  }
}
